# AlphaCare Insurance Solutions (ACIS)

AlphaCare Insurance Solutions (ACIS) is committed to developing cutting-edge risk and predictive analytics in the area of car insurance
planning and marketing in South Africa.This is part of the final report on  statistical modeling.

In [242]:
import sys
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Add the parent directory to the Python path
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), '..')))

from scripts.data_loader import load_data

# Load the text file into a Pandas DataFrame
source = pd.read_csv('../data/data.txt', delimiter='|')  

source.to_csv('../data/data2.csv', index=False)
df= pd.read_csv('../data/data2.csv')
df.head()

C:\Users\bethelhem.teka\AppData\Local\Temp\ipykernel_29000\3708453824.py:14: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  source = pd.read_csv('../data/data.txt', delimiter='|')
C:\Users\bethelhem.teka\AppData\Local\Temp\ipykernel_29000\3708453824.py:17: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('../data/data2.csv')

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

# Task 04: Statistical Modeling

## Data Preparation

In [243]:
# Check for missing values
print("Missing Values Per Column:")
print(df.isnull().sum())

Missing Values Per Column:
UnderwrittenCoverID               0
PolicyID                          0
TransactionMonth                  0
IsVATRegistered                   0
Citizenship                       0
LegalType                         0
Title                             0
Language                          0
Bank                         145961
AccountType                   40232
MaritalStatus                  8259
Gender                         9536
Country                           0
Province                          0
PostalCode                        0
MainCrestaZone                    0
SubCrestaZone                     0
ItemType                          0
mmcode                          552
VehicleType                     552
RegistrationYear                  0
make                            552
Model                           552
Cylinders                       552
cubiccapacity                   552
kilowatts                       552
bodytype                        552
NumberOfDoors                   552
VehicleIntroDate                552
CustomValueEstimate          779642
AlarmImmobiliser                  0
TrackingDevice                    0
CapitalOutstanding                2
NewVehicle                   153295
WrittenOff                   641901
Rebuilt                      641901
Converted                    641901
CrossBorder                  999400
NumberOfVehiclesInFleet     1000098
SumInsured                        0
TermFrequency                     0
CalculatedPremiumPerTerm          0
ExcessSelected                    0
CoverCategory                     0
CoverType                         0
CoverGroup                        0
Section                           0
Product                           0
StatutoryClass                    0
StatutoryRiskType                 0
TotalPremium                      0
TotalClaims                       0
dtype: int64

## Handling Missing Data: Impute or remove missing values based on their nature and the quantity missing.

In [244]:
def clean_missing_data(data, option,column):

    try:
        if option =='remove' and column!='':
            data=data.dropna(subset=[column], how='any')

        elif option=='replace_with_default':
            data.fillna({'column': 0}, inplace=True)

        elif option == 'replace_with_mean':
            mean_value = data[column].mean()
            data[column].fillna(mean_value, inplace=True)

        elif option =='replace_with_mode':
            mode_value = data[column].mode()[0]  
            data[column].fillna(mode_value, inplace=True)
        else:
            data
        print('successfully completed')
        return data
    except Exception as e:
        print(f"An error occurred: {e}")
        return None
    
columns_with_null_value_to_replace_by_mode = ['Bank','AccountType', 'MaritalStatus', 'NewVehicle','Gender', 'mmcode', 'VehicleType', 'make', 'Model', 'Cylinders',  'bodytype',  'VehicleIntroDate', 'CustomValueEstimate',   'WrittenOff', 'Rebuilt', 'Converted', 'CrossBorder']
columns_with_null_value_to_replace_by_mean = [ 'cubiccapacity', 'kilowatts',  'NumberOfDoors',   'CapitalOutstanding',     'NumberOfVehiclesInFleet']
for column in columns_with_null_value_to_replace_by_mode:
    clean_missing_data(df, 'replace_with_mode',column)
for column in columns_with_null_value_to_replace_by_mean:
    clean_missing_data(df, 'replace_with_mean',column)

C:\Users\bethelhem.teka\AppData\Local\Temp\ipykernel_29000\1328620822.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(mode_value, inplace=True)

successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
successfully completed
An error occurred: unsupported operand type(s) for +: 'float' and 'str'
successfully completed

C:\Users\bethelhem.teka\AppData\Local\Temp\ipykernel_29000\1328620822.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[column].fillna(mean_value, inplace=True)

In [245]:
# Drop column that have many null but not that much significant
columns_to_drop =  ['CapitalOutstanding', 'NumberOfVehiclesInFleet']
df=df.drop(columns=columns_to_drop)

In [246]:
# Check if there are any columns with null value
columns_with_nulls = df.isnull().any()
columns_with_null_names = df.columns[columns_with_nulls].tolist()
print(f"Columns with null values: {columns_with_null_names}")

Columns with null values: []

## Feature Engineering: Create new features that might be relevant to TotalPremium and TotalClaims.

### Create Vehicle-Related Features

In [247]:

from datetime import datetime



# Vehicle Age
df['VehicleAge'] = 2025 - df['RegistrationYear']

# Is New Vehicle (Binary Flag)
df['IsNewVehicle'] = df['NewVehicle'].apply(lambda x: 1 if x else 0)

# Engine Performance Score
df['EnginePerformanceScore'] = (df['kilowatts'] * df['cubiccapacity']) / 1000

# Risk Factor from Condition
df['RiskFactorFromCondition'] = (
    df['WrittenOff'].apply(lambda x: 3 if x else 0) +
    df['Rebuilt'].apply(lambda x: 2 if x else 0) +
    df['Converted'].apply(lambda x: 1 if x else 0)
)

df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,VehicleAge,IsNewVehicle,EnginePerformanceScore,RiskFactorFromCondition
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,21,1,337.61,6
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,21,1,337.61,6
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,21,1,337.61,6
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0,21,1,337.61,6
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,21,1,337.61,6

###  Create Client-Related Features

In [248]:
# Marital Status Risk
marital_risk_map = {'Married': 1, 'Single': 2, 'Divorced': 3, 'Widowed': 3}
df['MaritalStatusRisk'] = df['MaritalStatus'].map(marital_risk_map).fillna(0)

# Banked Client (Binary Flag)
df['BankedClient'] = df['Bank'].apply(lambda x: 1 if pd.notnull(x) else 0)

# High Risk Legal Type
high_risk_legal_types = ['Company', 'Partnership']
df['IsHighRiskLegalType'] = df['LegalType'].apply(lambda x: 1 if x in high_risk_legal_types else 0)

###  Create Policy & Plan Features

In [249]:
# Premium Per Coverage
df['PremiumPerCoverage'] = df['TotalPremium'] / df['SumInsured']


# Cover Complexity Score
cover_complexity_map = {
    'Comprehensive - Taxi': 3,
    'Third Party': 2,
    'Basic Excess Waiver': 1
}
df['CoverComplexityScore'] = df['CoverType'].map(cover_complexity_map).fillna(0)

###  Create Geographic Features

In [250]:
# Urban or Rural
urban_zones = ['Zone1', 'Zone2', 'Zone3']
df['UrbanOrRural'] = df['MainCrestaZone'].apply(lambda x: 'Urban' if x in urban_zones else 'Rural')

# Cross Border Risk
df['CrossBorderRisk'] = df['CrossBorder'].apply(lambda x: 1 if x else 0)

### Create Date & Time Features

In [251]:
# Policy Duration in Months
df['PolicyDurationMonths'] = (datetime.now().year - pd.to_datetime(df['TransactionMonth']).dt.year) * 12 + (
    datetime.now().month - pd.to_datetime(df['TransactionMonth']).dt.month
)

# Season of Policy
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Autumn'

df['SeasonOfPolicy'] = df['TransactionMonth'].apply(get_season)

In [254]:
# Save the updated DataFrame to a CSV
df.to_csv("enhanced_insurance_data.csv", index=False)

## Encoding Categorical Data: Convert categorical data into a numeric format using one-hot encoding or label encoding to make it suitable for modeling.

In [255]:
# Identifying Categorical Columns by Their Nature
one_hot_columns = [	'IsVATRegistered','Citizenship','Title','Language',	'AccountType','Gender',	'Country',	'Province',	'PostalCode',	'MainCrestaZone',	'SubCrestaZone',
 	'ItemType',	'VehicleType',	'bodytype',	'AlarmImmobiliser',	'TrackingDevice','NewVehicle',	'WrittenOff',	'Rebuilt',	'Converted'	,'CrossBorder','TermFrequency',	'ExcessSelected',	
    'CoverCategory',	'CoverType',	'CoverGroup',	'Section'	, 'Product',	'StatutoryClass',	'StatutoryRiskType']

label_columns = ['MaritalStatus', 'LegalType']
high_cardinality_columns = ['UnderwrittenCoverID',	'PolicyID', 'TransactionMonth', 'Bank', 'mmcode', 'RegistrationYear', 	'make',	'Model', 'VehicleIntroDate']

In [256]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# One-Hot Encoding columns for one_hot_columns
pd.get_dummies(df, columns=one_hot_columns, drop_first=True)

# Label Encoding columns for label_columns
for col in label_columns:
    df[col] = label_encoder.fit_transform(df[col])

# Frequency Encoding for high_cardinal_columns 
for column in high_cardinality_columns:
    freq_encoding = df[column].value_counts()
    df[column + "_encoded"] = df[column].map(freq_encoding)

df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,SeasonOfPolicy,UnderwrittenCoverID_encoded,PolicyID_encoded,TransactionMonth_encoded,Bank_encoded,mmcode_encoded,RegistrationYear_encoded,make_encoded,Model_encoded,VehicleIntroDate_encoded
0,145249,12827,2015-03-01 00:00:00,True,,0,Mr,English,First National Bank,Current account,...,Autumn,8,72,92015,406772,180,16956,41940,180,180
1,145249,12827,2015-05-01 00:00:00,True,,0,Mr,English,First National Bank,Current account,...,Autumn,8,72,99898,406772,180,16956,41940,180,180
2,145249,12827,2015-07-01 00:00:00,True,,0,Mr,English,First National Bank,Current account,...,Autumn,8,72,104143,406772,180,16956,41940,180,180
3,145255,12827,2015-05-01 00:00:00,True,,0,Mr,English,First National Bank,Current account,...,Autumn,8,72,99898,406772,180,16956,41940,180,180
4,145255,12827,2015-07-01 00:00:00,True,,0,Mr,English,First National Bank,Current account,...,Autumn,8,72,104143,406772,180,16956,41940,180,180

In [259]:
# Save the Encoded Data
df.to_csv("encoded_insurance_data.csv", index=False)

In [260]:
unencoded_columns = df.select_dtypes(include=['object', 'category']).columns

# Separate encoded (numerical) columns
encoded_columns = df.select_dtypes(include=['number']).columns

# Create separate DataFrames
df_unencoded = df[unencoded_columns].copy()
df_encoded = df[encoded_columns].copy()
df_encoded.head()

,UnderwrittenCoverID,PolicyID,LegalType,MaritalStatus,PostalCode,mmcode,RegistrationYear,Cylinders,cubiccapacity,kilowatts,...,PolicyDurationMonths,UnderwrittenCoverID_encoded,PolicyID_encoded,TransactionMonth_encoded,Bank_encoded,mmcode_encoded,RegistrationYear_encoded,make_encoded,Model_encoded,VehicleIntroDate_encoded
0,145249,12827,0,1,1459,44069150.0,2004,6.0,2597.0,130.0,...,118,8,72,92015,406772,180,16956,41940,180,180
1,145249,12827,0,1,1459,44069150.0,2004,6.0,2597.0,130.0,...,116,8,72,99898,406772,180,16956,41940,180,180
2,145249,12827,0,1,1459,44069150.0,2004,6.0,2597.0,130.0,...,114,8,72,104143,406772,180,16956,41940,180,180
3,145255,12827,0,1,1459,44069150.0,2004,6.0,2597.0,130.0,...,116,8,72,99898,406772,180,16956,41940,180,180
4,145255,12827,0,1,1459,44069150.0,2004,6.0,2597.0,130.0,...,114,8,72,104143,406772,180,16956,41940,180,180

# Train-Test Split

In [264]:
# Features (X) - All columns except the target variables
X = df_encoded.drop(['TotalPremium', 'TotalClaims'], axis=1)

# Target (y) - Multiple target variables
y = df_encoded[['TotalPremium', 'TotalClaims']]

Columns with null values: []

In [265]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets (80% for training, 20% for testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Optional: Check the shapes to confirm the split
print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")


# Check for NaN values
print("Missing values in X_train:", X_train.isnull().sum().sum())
print("Missing values in X_test:", X_test.isnull().sum().sum())

# Check for infinite values
print("Infinite values in X_train:", (X_train == np.inf).sum().sum() + (X_train == -np.inf).sum().sum())
print("Infinite values in X_test:", (X_test == np.inf).sum().sum() + (X_test == -np.inf).sum().sum())

X_train shape: (800078, 34)
X_test shape: (200020, 34)
y_train shape: (800078, 2)
y_test shape: (200020, 2)
Missing values in X_train: 0
Missing values in X_test: 0
Infinite values in X_train: 0
Infinite values in X_test: 0

## Model Building

In [266]:
# using RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor

# Create the model for multi-output regression
model = RandomForestRegressor(random_state=42)

# Train the model using the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Check the predictions
print(f"Predictions for TotalPremium and TotalClaims:\n{y_pred}")

Predictions for TotalPremium and TotalClaims:
[[  7.08201754   0.        ]
 [  5.80096491   0.        ]
 [  4.89535702   0.        ]
 ...
 [  0.           0.        ]
 [201.12397616   0.        ]
 [  0.           0.        ]]

## Model Evaluation

In [ ]:
# Evaluate for TotalClaims
from sklearn.metrics import precision_score, recall_score, f1_score

# Ensure TotalClaims is numeric
y_test['TotalClaims'] = pd.to_numeric(y_test['TotalClaims'], errors='coerce')
y_pred = pd.to_numeric(y_pred, errors='coerce')

# Handle NaN values by dropping them
y_test = y_test.dropna(subset=['TotalClaims'])
y_pred = y_pred[~np.isnan(y_pred)]  # Remove NaNs from predictions

# Clip values to be within a valid range
y_test['TotalClaims'] = y_test['TotalClaims'].clip(lower=0)  # Lower bound
y_pred = np.clip(y_pred, 0, float('inf'))  # Ensure predictions are within bounds

# Define valid bins and labels
bins = [0, 5000, 10000, 20000, float('inf')]
labels = ['Low', 'Medium', 'High', 'Very High']

# Bin the continuous TotalClaims into categories
y_test['TotalClaims_binned'] = pd.cut(y_test['TotalClaims'], bins=bins, labels=labels, right=False)
y_pred_binned = pd.cut(y_pred, bins=bins, labels=labels, right=False)

# Ensure the bins are correct and valid
print(y_test['TotalClaims_binned'].head())
print(pd.Series(y_pred_binned).head())

# Now calculate the classification metrics
precision_claims = precision_score(y_test['TotalClaims_binned'], y_pred_binned, average='weighted')
recall_claims = recall_score(y_test['TotalClaims_binned'], y_pred_binned, average='weighted')
f1_claims = f1_score(y_test['TotalClaims_binned'], y_pred_binned, average='weighted')

print(f"Precision: {precision_claims}")
print(f"Recall: {recall_claims}")
print(f"F1-Score: {f1_claims}")

57024     Low
343371    Low
641034    Low
42687     Low
850800    Low
Name: TotalClaims_binned, dtype: category
Categories (4, object): ['Low' < 'Medium' < 'High' < 'Very High']
0    Low
1    Low
2    Low
3    Low
4    Low
dtype: category
Categories (4, object): ['Low' < 'Medium' < 'High' < 'Very High']
Precision: 0.996423475906273
Recall: 0.994995500449955
F1-Score: 0.9957067705526664

In [286]:
# Evaluate for TotalPremium
from sklearn.metrics import precision_score, recall_score, f1_score

# Ensure TotalPremium is numeric
y_test['TotalPremium'] = pd.to_numeric(y_test['TotalPremium'], errors='coerce')
y_pred = pd.to_numeric(y_pred, errors='coerce')

# Handle NaN values by dropping them
y_test = y_test.dropna(subset=['TotalPremium'])
y_pred = y_pred[~np.isnan(y_pred)]  # Remove NaNs from predictions

# Clip values to be within a valid range
y_test['TotalPremium'] = y_test['TotalPremium'].clip(lower=0)  # Lower bound
y_pred = np.clip(y_pred, 0, float('inf'))  # Ensure predictions are within bounds

# Define valid bins and labels
bins = [0, 5000, 10000, 20000, float('inf')]
labels = ['Low', 'Medium', 'High', 'Very High']

# Bin the continuous TotalPremium into categories
y_test['TotalPremium_binned'] = pd.cut(y_test['TotalPremium'], bins=bins, labels=labels, right=False)
y_pred_binned = pd.cut(y_pred, bins=bins, labels=labels, right=False)

# Ensure the bins are correct and valid
print(y_test['TotalPremium_binned'].head())
print(pd.Series(y_pred_binned).head())

# Now calculate the classification metrics
precision_claims = precision_score(y_test['TotalPremium_binned'], y_pred_binned, average='weighted')
recall_claims = recall_score(y_test['TotalPremium_binned'], y_pred_binned, average='weighted')
f1_claims = f1_score(y_test['TotalPremium_binned'], y_pred_binned, average='weighted')

print(f"Precision: {precision_claims}")
print(f"Recall: {recall_claims}")
print(f"F1-Score: {f1_claims}")

57024     Low
343371    Low
641034    Low
42687     Low
850800    Low
Name: TotalPremium_binned, dtype: category
Categories (4, object): ['Low' < 'Medium' < 'High' < 'Very High']
0    Low
1    Low
2    Low
3    Low
4    Low
dtype: category
Categories (4, object): ['Low' < 'Medium' < 'High' < 'Very High']

c:\Users\bethelhem.teka\OneDrive - Catholic Relief Services\Desktop\KIAM Week03\KIAM-Week-3---Insurance-Solution\.venv\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

Precision: 0.99999500049995
Recall: 0.9967403259674033
F1-Score: 0.9983650106772332

## Feature Importance Analysis

In [287]:
# Fit models for both targets
model_premium = RandomForestRegressor(random_state=42)
model_premium.fit(X_train, y_train['TotalPremium'])

model_claims = RandomForestRegressor(random_state=42)
model_claims.fit(X_train, y_train['TotalClaims'])

# Get and compare feature importances
importances_premium = model_premium.feature_importances_
importances_claims = model_claims.feature_importances_

df_premium = pd.DataFrame({
    'Feature': X_train.columns,
    'Importance_Premium': importances_premium
}).sort_values(by='Importance_Premium', ascending=False)

df_claims = pd.DataFrame({
    'Feature': X_train.columns,
    'Importance_Claims': importances_claims
}).sort_values(by='Importance_Claims', ascending=False)

print("--- Feature Importance for TotalPremium ---")
print(df_premium.head())

print("\n--- Feature Importance for TotalClaims ---")
print(df_claims.head())

--- Feature Importance for TotalPremium ---
                     Feature  Importance_Premium
13  CalculatedPremiumPerTerm            0.464541
21        PremiumPerCoverage            0.353167
12                SumInsured            0.140039
24      PolicyDurationMonths            0.013254
26          PolicyID_encoded            0.010064

--- Feature Importance for TotalClaims ---
                     Feature  Importance_Claims
24      PolicyDurationMonths           0.229540
27  TransactionMonth_encoded           0.222758
0        UnderwrittenCoverID           0.099041
21        PremiumPerCoverage           0.079673
13  CalculatedPremiumPerTerm           0.063584

## SHAP for interpreting the model's predictions and understand how individual features influence the outcomes.

In [ ]:
# Using shap library to TotalClaims
import shap

# Fit model
model.fit(X_train, y_train['TotalClaims'])

# Initialize SHAP explainer
explainer = shap.TreeExplainer(model)

# Calculate SHAP values for the test set
shap_values = explainer.shap_values(X_test)

# Summary plot for feature importance
shap.summary_plot(shap_values, X_test, plot_type="bar")